.logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    color: red;
}



img{
    height: 120px;
    width: 120px;
    border-radius: 20%;
}
li{
    border: 1px solid grey;
    width: 35px;
    height: 32px;
    border-radius: 5px;
    padding-top: 3px;
    text-align: center;

}
li:hover{
    background-color: gray;
    cursor: pointer;
    transition: ease-in;
}